aiohttp==3.8.1
coverage==6.0.2
pytest-asyncio==0.15.1
pytest-cov==3.0.0
fastapi==0.104.1
flake8==6.1.0
dependency-injector==4.41.0
httpcore==1.0.1
httpx==0.25.1
orjson==3.9.5
pydantic==2.4.2
pydantic-settings==2.0.3
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg2-binary==2.9.9
pytest==7.4.3
SQLAlchemy==2.0.23
starlette==0.27.0
structlog==23.2.0
uvicorn==0.23.2
